<!DOCTYPE html>
<html>
    <head>
        <title><%= header %></title>
        <style>
            body {
                background-color: #ffffff;
                background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23009aff' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
        </style>
    </head>
    <body>
        <h1><%= header %></h1>
        <form action="/students/<%= data.id %>/edit" method="POST">
            <label for="">First Name</label>
            <input type="text" name="first_name" value="<%= data.first_name %>" required> <br><br>

            <label for="">Last Name</label>
            <input type="text" name="last_name" value="<%= data.last_name %>" required> <br><br>

            <label for="">Email</label>
            <input type="text" name="email" value="<%= data.email %>" required> <br><br>

            <label for="">Gender</label>
            <input type="text" name="gender" id="" value="<%= data.gender %>" placeholder="male | female"> <br><br>

            <label for="">Birth Date</label>
            <input type="date" name="birth_date" value="<%= data.birth_date %>" required><br><br>

            <input type="submit">
        </form>
        <p><a href="/students">Go Back</a></p>
    </body>
</html>